:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;  
    --main-color:#EE4D2D;
    --header-height:120px;
    --navbar-height: 34px;
    --content-bacground:#f5f5f5;
    --star-gold:#ffce3e;
    --border-color:#dbdbdb;
    --header-with-seatch-heigh: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
    font-weight: 300;
    padding: 0;
    margin: 0;
    user-select: text;
    
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#f12711,#f5af19) ;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
/* ::-webkit-scrollbar-corner {
    background: #000;
} */
*::selection
{
    background-color: var(--main-color);
    color: var(--white-color)
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}



/* layout */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{   
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* animation */

@keyframes fadeIn {
    from
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  base modal */
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .5s;
}
.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(000, 000, 000, .4);
}
.modal__body
{
    
    margin: auto;
    z-index: 2;
    position: relative;
    animation: scalein linear .3s;
    
}
/* button 
 */

 .btn
 {
    min-width: 90px;
    height: 34px;
    background-color: var(--white-color);
    border: none;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    color: var(--black-color);
    padding: 0 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
 }
 .btn.btn--normal:hover
 {
    background-color: rgba(0, 0, 0, .05);
 }
 .btn.btn--primary{
    background-color: var(--main-color);
    color: var(--white-color);
 }

 .btn.btn--disable
 {
    cursor: default;
    color: #ccc;
    background-color: #999;
 }
 .btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;

 }
 @keyframes scalein {
    from
    {
        transform: scale(0.5);
    }
    to
    {
        transform: scale(1.0);
    }
 }

/* selection */
 .select-input{
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 }
 /* pagination */

 .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .pagination-item{
    list-style: none;
    margin: 0 12px;
 }
 .pagination-item__link{
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
 }
.pagination-item--active .pagination-item__link{
    background-color: var(--main-color);
    color: var(--white-color);
 }
 .pagination-item--active .pagination-item__link:hover{
    filter: brightness(120%);
 }
 .pagination-item__icon{
    font-size: 2rem;
    color: #939393;
 }